<header>
  <%= image_tag("logo.png", :alt => "Ads.RB", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "O nas", '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
      <li><%= link_to "Logowanie", '#' %></li>
    </ul>
  </nav>
</header>