<header>
  <% logo = image_tag("logo.png", :alt => "Ads.RB", :class => "round") %>
  <%= link_to logo, root_path  %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", "/"  %></li>
      <li><%= link_to "O nas", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "Logowanie", '#' %></li>
    </ul>
  </nav>
</header>